<div class="search-container">
    <!-- Adding #form that serves as the argument from the newly created onSubmit method-->
    <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <!-- Adding a logo, once clicked we will be redirected to the homepage -->
        <span class="logo" routerLink="/">NgVGDB</span>

        <!--Used for Actual Searching-->
        <input 
            class="search-input" 
            name="search"
            ngModel
            placeholder="Search 500,000+ games"
        />

        <!--Submit button to submit our form-->
        <button type="submit" class="search-button">Search</button>
    </form>
</div>