body{
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: black;
    padding-top: 60px;
    heght: 100%;
}

//setting up styles on all child elements
body * {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}